body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-image: url(./assets/1.jpg);
  background-size: cover;
  background-position: center;
}

.form{
  width: 90%;
  background: #fff;
  margin: 50px 70px auto;
  padding: 30px 20px 40px ;
  text-align: center;
  border-radius: 8px;;
  box-shadow:  6px 6px 10px rgba(0, 0, 0, 0.336);
  overflow: hidden;
  
}

.input{
  width: 45%;
  padding: 20px 5px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #e2e4f0;
  outline: none;
  margin-right: 3%;
}

.input1{
  width: 93%;
  padding: 20px 5px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #e2e4f0;
  outline: none;
  margin-right: 3%;
}



.input, .form__submit{
  font-family: inherit;
}

.form__title{
  margin-bottom: 12px;
  font-size: 2rem;
}

.form__message{
  max-width: 93%;
  min-width: 93%;
  min-height: 150px;
  max-height: 150px;
}

.form__submit{
  display: inline-block;
  width: 30%;
  font-size: 18px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-right: 5%;
  text-decoration: none;
}

.form__submit:hover{
  background-image: linear-gradient(135deg, #ff000086 0%, #7a03f0 100%);;
}

.title{
  color: #fff;
  margin-left: 35px;
}

.text__area{
  font-size: 14px;
}


.conteiner{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

nav{
  height: 70px;
  background: #8d8d90;
}

.nav-conteiner{
  height: 100%;
  align-items: center;
}

.links{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 120px;
}

.form__hr{
  margin: 12px 25% 38px 25%;
    
}

@media screen and (max-width:799px){
  body{
      padding: 60px 0;
      background-repeat: no-repeat;
  }

  .form{
      margin: 0 auto;
      height: 80%;
  }


  nav{
    height: 80px;
    background: #8d8d90;
    margin-bottom: 2%;
  }
  
  .nav-conteiner{
    height: 40%;
    align-items: center;
  }
  
  .links{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    
  }

  .title{
    color: #fff;
    margin-left: 35px;
    font-size: 20px;
  }

}

@media screen and (max-width:600px){

  body{
      padding: 40px 0;
  }

  .form{
      width: 80%;
  }

  .form__title{
      font-size: 1.5rem;
  }

  .form__submit{
      font-size: 12px;
      width: 40%;
  }

  .input1{
    font-size: 9px;
  }
  .input{
    font-size: 9px;
  }
 
}
